<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.majiang.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.majiang.model.User">
    <!--@mbg.generated-->
    <!--@Table "USER"-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TOKEN" jdbcType="VARCHAR" property="token" />
    <result column="CREATE_TIME" jdbcType="DATE" property="createTime" />
    <result column="MODIFIED_TIME" jdbcType="DATE" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, ACCOUNT_ID, "NAME", TOKEN, CREATE_TIME, MODIFIED_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from "USER"
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from "USER"
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.example.majiang.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into "USER" (ACCOUNT_ID, "NAME", TOKEN, 
      CREATE_TIME, MODIFIED_TIME)
    values (#{accountId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=DATE}, #{modifiedTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.example.majiang.model.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into "USER"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="name != null">
        "NAME",
      </if>
      <if test="token != null">
        TOKEN,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.majiang.model.User">
    <!--@mbg.generated-->
    update "USER"
    <set>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        "NAME" = #{name,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=DATE},
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME = #{modifiedTime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.majiang.model.User">
    <!--@mbg.generated-->
    update "USER"
    set ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      "NAME" = #{name,jdbcType=VARCHAR},
      TOKEN = #{token,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      MODIFIED_TIME = #{modifiedTime,jdbcType=DATE}
    where ID = #{id,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-04-07-->
  <select id="selectByToken" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from "USER"
    where TOKEN=#{token,jdbcType=VARCHAR}
  </select>
</mapper>